.footer {
  background-color: $primaryColor;
  background-image: url(/images/BGline/footer.png);
  // background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 50px 0;
  position: relative;
  @media only screen and(max-width: $bp-small) {
    padding-top: 5rem;
    padding-bottom: 0;
    background-image: none;
  }

  &::before {
    content: url(/images/BGline/footer2.png);
    display: block;
    position: absolute;
    bottom: 0;
    right: 15%;

    @media only screen and(max-width: $bp-largest) {
      right: 0;
    }

    @media only screen and(max-width: $bp-small) {
      display: none;
    }
  }

  &::after {
    content: url(/images/footerBG.png);
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;

    @media only screen and(max-width: $bp-largest) {
      display: none;
    }
  }

  .widget1 {
    &__logo {
    }

    &__para {
      p {
        font-family: $secondaryFont;
        font-size: 1.4rem;
        color: #222222;
        margin: 1.7rem 0;
      }
    }

    &__social {
    }
  }
  .widget2 {
    * > a {
      &:not(:last-child) {
        margin: 0.2rem 0;

        // mobile
        @media only screen and(max-width: $bp-small) {
          margin-bottom: 2rem;
        }
      }
    }
    &__menu {
      a {
        text-transform: uppercase;
        font-family: $primaryFont;
        font-size: 1.5rem;
        color: #000;
        transition: 0.3 ease-in-out color;
        &:hover {
          color: $secondaryColor;
        }
      }
    }
  }

  .widget3 {
    p {
      font-size: 1.4rem;
      font-family: $secondaryFont;
      color: #222222;
      cursor: pointer;
      transition: 0.3 ease-in-out color;
      &:hover {
        color: $secondaryColor;
      }
      @media only screen and(max-width: $bp-small) {
        margin-bottom: 2rem;
      }
    }
  }

  .widget4 {
    p {
      font-size: 1.4rem;
      font-family: $secondaryFont;
      color: $secondaryColor;
    }

    .btn {
      padding: 0.9rem 2.8rem;
      border-radius: 2px;
      border: none;
      background: $secondaryColor;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-family: $primaryFont;

      &:hover {
        background-color: lighten($secondaryColor, 5%);
      }
    }
  }

  .widget1,
  .widget2,
  .widget3,
  .widget4 {
    @media only screen and(max-width: $bp-small) {
      margin-bottom: 2rem;
    }
  }
}

// footer end

.footer-end {
  font-family: $secondaryFont;
  font-size: 1.5rem;
  color: $darkGrayColor;
  margin-top: 5rem;

  a {
    color: $secondaryColor;
  }
}
