.header {
  position: relative;
  z-index: 999999;
  background-image: url(../images/BGline/headerBGline.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  // border: 1px solid red;
  &.open {
    // Hamburger Transformation
    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  // Navigation
  .nav {
    position: relative;
    background: $primaryColor;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: $primaryFont;

    // Navigation LANG srb / eng
    &__language {
      span {
        font-size: 1.43rem;
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;

        &:nth-child(2) {
          margin-right: 0.7rem;
        }
      }
      .spanActive {
        color: $secondaryColor;
      }
    }
  }
  // Navigation h
  .nav-h {
    height: 7rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  // Overlay
  .overlay {
    opacity: 0;
    background-image: linear-gradient(to top, $primaryColor, transparent);
    z-index: 999;
  }

  &__logo {
  }

  &__toggle {
    // hamburger menu
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $secondaryColor;
      transform-origin: 3px 1px;
      transition: $transition;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__links {
    // header menu
    a {
      color: #000000;
      position: relative;
      transition: $transition;
      &:hover {
        color: $secondaryColor;
      }

      &:not(:last-child) {
        margin-right: 2.5rem;
      }
    }
  }

  // Mobile menu
  &__menu {
    position: absolute;
    width: calc(100% - 8rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background: rgba(#ffebf2, 0.8);
    padding: 2.6rem;
    border-radius: 5px;
    text-align: center;

    a {
      color: #000000;
      text-transform: uppercase;
      padding: 1rem;
      display: block;
      text-align: center;
      font-size: 2rem;
      transition: $transition;

      &:hover {
        color: $secondaryColor;
      }
    }

    // For mobile version
    .language__mob {
      margin-top: 1rem;
    }
  }
}

// Loading screen

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $primaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 30%;
  // border-radius: 50%;
}

.loader.hidden {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}
