.location {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: 3rem;

  @media only screen and(max-width: $bp-medium) {
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin-top: 2.5rem;
  }

  // Title H1
  &__title {
    text-transform: uppercase;
    font-size: 5.5rem;
    letter-spacing: 0.18rem;
    color: #000;
  }

  // Paragraph
  &__para {
    margin-top: 1rem;
    width: 70%;
    font-family: $secondaryFont;
    font-size: 1.6rem;
    color: $lightBlack;
  }

  // a href

  a {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #999999;

    span {
      color: #000;
      background-color: $secondaryColor;
    }
  }
}

.box {
  box-shadow: 0 1px 9px 0 rgba(0, 35, 64, 0.2);
  background-color: #ffffff;
  border-radius: 3px;
  margin: 5rem 0;

  .map {
    @media only screen and(max-width: $bp-largest) {
      flex: 0 0 100%;
      height: 30vh;
    }

    @media only screen and(max-width: $bp-small) {
      display: none;
    }
  }
}
// margin-bottom: 4rem;

// Slatkoteka Dorcol
.slatkotekaBox {
  padding: 2rem;

  @media only screen and(max-width: $bp-small) {
    text-align: center;
  }

  // Slatkoteka Dorcol Naslov
  &__title {
    h2 {
      font-size: 2.2rem;
      color: #000;

      i {
        color: $secondaryColor;
      }
    }
  }

  .hr {
    height: 1.2px;
    color: #e7e7e7;
  }

  // Kontakt
  .contact {
    font-size: 1.4rem;
    margin: 2rem 0;
    // Kontakt naslov
    &__title {
      font-size: 1.4rem;
    }
    // Kontakt adresa
    &__address {
      display: inline-block;
      color: #000;
      text-decoration: underline;
    }
  }
  //Radno vreme
  &__time {
    p {
    }
  }
  // Dostupni
  .available {
    font-size: 1.4rem;
    .btn {
      display: inline-block;
      font-family: $primaryFont;
      text-transform: uppercase;
      font-size: 1.29rem;
      padding: 3px 8px 1px 7px;
    }
    &__title {
      margin: 2rem 0;
      // btns

      &--pink {
        background-color: $primaryColor;
        margin-right: 0.2rem;
      }

      &--green {
        background-color: #a3e8d6;
      }

      &--yellow {
        margin-top: 0.8rem;
        background-color: #fcfa96;
      }

      &--violet {
        background-color: #e0c5ec;
      }
    }
  }

  .galleryBox {
    img {
      border-radius: 3px;
      cursor: pointer;
      transform: scale(1);
      transition: $transition;

      @media only screen and(max-width: 23.4em) {
        margin-right: 0;
        padding: 0.2rem;
        width: 55px;
      }

      @media only screen and(max-width: $bp-small) {
        margin-top: 1rem;
        margin-right: 0;
      }

      &:hover {
        transform: scale(1.1);
      }
      &:not(:last-child) {
        margin-right: 0.7rem;
        @media only screen and(max-width: $bp-small) {
          margin-right: 0;
        }
      }
    }
  }
}

// Slatkoteka Novi bg

.noviBgd {
  margin-top: 15rem;
  margin-bottom: 15rem;
  position: relative;
  animation: pulse 2s infinite;

  @media only screen and(max-width: $bp-medium) {
    animation: none;
  }
  img {
    border-radius: 5px;
  }

  .row {
    @media only screen and(max-width: $bp-largest) {
      justify-content: center;
      text-align: center;
    }
  }

  .noviBgdPink::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 3px;
    background-color: $secondaryColor;
    transform: rotate(-4deg);
    box-shadow: 12px 12px 2px 1px rgba($secondaryColor, 0.2);
    z-index: -1;
  }

  .col-lg-12 {
    h2 {
      font-size: 4.5rem;
      color: #fff;
    }
  }
  .col-md-4:nth-child(1),
  .col-md-4:nth-child(2) {
    position: relative;

    &:nth-child(1) {
      bottom: 4rem;
      right: 2rem;
    }

    &:nth-child(2) {
      top: 5rem;
    }
  }
}
