.reference {
  padding: 10rem 0;
  @media only screen and(max-width: $bp-medium) {
    padding: 5rem 0;
  }
  &__title {
    font-size: 1.8rem;
    font-family: $primaryFont;
    text-transform: uppercase;
    color: #000;
    margin: 1rem 0;
    @media only screen and(max-width: $bp-small) {
      margin: 2rem 0;
    }
  }

  // ROW Margin

  &__row {
    @media only screen and(max-width: $bp-small) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  &__img {
    img {
      width: 100%;
    }

    figure {
      margin-right: 1rem;
    }
  }

  &__para {
    p {
      font-size: 1.4rem;
      font-family: $secondaryFont;
      color: #222222;
    }
  }

  .btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-family: $primaryFont;
    border-radius: 3px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background: $secondaryColor;
    color: #fff;
    transition: 0.4s all ease-in-out;
    &:hover {
      background: lighten($secondaryColor, 5%);
    }
  }
}
